body {
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog modal-content{
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#employeeForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
}

.input-row {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    width: 100%; /* Ajusta el ancho al contenedor */
    margin-bottom: 10px; /* Espacio entre filas */
}

.button-row {
    display: flex;
    justify-content: space-between;
}