@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="contactTitle">
    <h2 id="contactTitle">Contáctanos</h2>
    <p>Estamos aquí para ayudarte. No dudes en ponerte en contacto con nosotros.</p>

    <address>
        <strong>Dirección:</strong><br />
        123 Calle Principal<br />
        Ciudad Principal, CP 12345<br />
        <abbr title="Teléfono">Tel:</abbr> (123) 456-7890
    </address>

    <address>
        <strong>Soporte:</strong> <a href="mailto:soporte@northwindtrading.com">soporte@northwindtrading.com</a><br />
        <strong>Información General:</strong> <a href="mailto:info@northwindtrading.com">info@northwindtrading.com</a>
    </address>
</main>
