@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="northwindTitle">
        <h1 id="northwindTitle">Bienvenido a Northwind Trading</h1>
        <p class="lead">Tu Socio de Confianza para Productos de Calidad</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="aboutUsTitle">
            <h2 id="aboutUsTitle">Acerca de Nosotros</h2>
            <p>
                Northwind Trading es un proveedor líder de productos de alta calidad, sirviendo a clientes en todo el mundo.
                Nuestro compromiso con la excelencia y la satisfacción del cliente nos distingue.
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="productsTitle">
            <h2 id="productsTitle">Nuestros Productos</h2>
            <p>Explora nuestra amplia gama de productos, desde electrónica hasta moda, que satisfacen tus diversas necesidades.</p>
        </section>
        <section class="col-md-4" aria-labelledby="contactTitle">
            <h2 id="contactTitle">Contáctanos</h2>
            <p>¿Tienes preguntas o necesitas ayuda? Ponte en contacto con nuestro equipo amable hoy mismo.</p>
        </section>
    </div>
</main>
