@model List<Practica7.WebApi.MVC.Models.ProductsView>
@{
    ViewBag.Title = "Productos";
}

<head>
    <!-- Enlaces a jQuery, SweetAlert2 y estilos de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ModalStyles.css")">
    <script src="~/Scripts/inputsValidations.js"></script>
</head>

<h3>SECCIÓN PRODUCTOS</h3>
<hr />
<table class="table">
    <thead class="bg-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio Unitario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.ProductName</td>
                <td>@product.UnitPrice</td>
            </tr>
        }
    </tbody>
</table>

